# Data Analysis for Products CSV: Product Clustering, Matching & Classification

Check path when Im running

In [1]:
import sys
print(sys.argv[0])

/Users/sebastianlopez/miniconda3/envs/maestriamatching/lib/python3.10/site-packages/ipykernel_launcher.py

In [2]:
import pandas as pd

Datasets headers

In [3]:
column_names = ["ProductID", "VendorID", "ClusterID","ClusterLabel","CategoryID","CategoryLabel" ]

In [20]:
data_path_pricerunner = "../../Datos/products_csv/pricerunner_aggregate.csv"
data_path_skroutz = "../../Datos/products_csv/skroutz_aggregate.csv"

In [21]:
df_pricerunner_aggregate = pd.read_csv(data_path_pricerunner, names=column_names)

In [22]:
df_pricerunner_aggregate

,ProductID,VendorID,ClusterID,ClusterLabel,CategoryID,CategoryLabel
1,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
5,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
...,...,...,...,...,...,...
47350,smeg fab28 60cm retro style right hand hinge f...,59,47517,Smeg FAB28 Cream,2623,Fridges
47351,smeg fab28 60cm retro style left hand hinge fr...,59,47518,Smeg FAB28 Red,2623,Fridges
47352,smeg fab28 60cm retro style left hand hinge fr...,59,47519,Smeg FAB28 Pink,2623,Fridges
47355,candy 60cm built under larder fridge cru160nek,125,47524,Candy CRU16.0,2623,Fridges
47358,neff k4316x7gb built under larder fridge,179,47525,Neff K4316,2623,Fridges

In [23]:
df_skroutz_aggregate = pd.read_csv(data_path_skroutz, names=column_names)

In [25]:
appended_df = pd.concat([df_pricerunner_aggregate,df_skroutz_aggregate],ignore_index=True).reset_index(drop=True)

In [26]:
appended_df

,ProductID,VendorID,ClusterID,ClusterLabel,CategoryID,CategoryLabel
0,apple iphone 8 plus 64gb silver,1,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
1,apple iphone 8 plus 64 gb spacegrau,2,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
2,apple mq8n2b/a iphone 8 plus 64gb 5.5 12mp sim...,3,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
3,apple iphone 8 plus 64gb space grey,4,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
4,apple iphone 8 plus gold 5.5 64gb 4g unlocked ...,5,1,Apple iPhone 8 Plus 64GB,2612,Mobile Phones
...,...,...,...,...,...,...
273476,bataria super b sb12v15p sc technologias lithiou,2413,124627,Super B Lithium Ion SB12V15P-SC 60Ah,1695,Car & Boat Batteries
273477,bataria super b sb12v15p ec technologias lithiou,2413,124628,Super B Lithium Ion SB12V15P-EC 60Ah,1695,Car & Boat Batteries
273478,bataria super b sb12v20p sc technologias lithiou,2413,124629,Super B Lithium Ion SB12V20P-SC 100Ah,1695,Car & Boat Batteries
273479,bataria super b sb12v20p fc technologias lithiou,2413,124630,Super B Lithium Ion SB12V20P-FC 100Ah,1695,Car & Boat Batteries
273480,bataria super b sb12v25p sc technologias lithiou,2413,124631,Super B Lithium Ion SB12V25P-SC 130Ah,1695,Car & Boat Batteries

[1] L. Akritidis, A. Fevgas, P. Bozanis, C. Makris, "A Self-Verifying Clustering Approach to Unsupervised Matching of Product Titles", Artificial Intelligence Review (Springer), pp. 1-44, 2020.

[2] L. Akritidis, P. Bozanis, "Effective Unsupervised Matching of Product Titles with k-Combinations and Permutations", In Proceedings of the 14th IEEE International Conference on Innovations in Intelligent Systems and Applications (INISTA), pp. 1-10, 2018.

[3] L. Akritidis, A. Fevgas, P. Bozanis, "Effective Product Categorization with Importance Scores and Morphological Analysis of the Titles", In Proceedings of the 30th IEEE International Conference on Tools with Artificial Intelligence (ICTAI), pp. 213-220, 2018.

In [4]:
from IPython.display import display, HTML

In [ ]:
display(HTML(appended_df.groupby("ClusterLabel").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False).to_html()))

In [29]:
appended_df.to_csv("../../Datos/products_csv/aggregate.csv",index=False,header=True)

In [30]:
appended_df.to_parquet("../../Datos/products_csv/aggregate.parquet",index=False,engine="pyarrow")

In [31]:
second_appended_df = appended_df.copy().rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"})

In [32]:
#cross_products = pd.merge(appended_df,second_appended_df,how="cross")

Because of the Cross product, it is not possible to operate with full dataset, trying with only Cameras instead

In [5]:
df_price_cameras = pd.read_csv("../../Datos/products_csv/pricerunner_cameras.csv",names=column_names)
df_skroutz_cameras = pd.read_csv("../../Datos/products_csv/skroutz_cameras.csv",names=column_names)

In [18]:
df_price_tvs = pd.read_csv("../../Datos/products_csv/pricerunner_tvs.csv",names=column_names)
df_skroutz_tvs = pd.read_csv("../../Datos/products_csv/skroutz_tvs.csv",names=column_names)

In [6]:
df_price_cameras_2 =df_price_cameras.copy()

In [7]:
df_skroutz_cameras_2 = df_skroutz_cameras.copy()

In [19]:
df_price_tvs_2 = df_price_tvs.copy()
df_skroutz_tvs_2 = df_skroutz_tvs.copy()

In [8]:
df_price_cameras_2.rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"},inplace=True)

In [9]:
df_skroutz_cameras_2.rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"},inplace=True)

In [20]:
df_price_tvs_2.rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"},inplace=True)
df_skroutz_tvs_2.rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"},inplace=True)

In [10]:
cross_price_cameras = pd.merge(df_price_cameras,df_price_cameras_2,how="cross")

In [11]:
cross_skroutz_cameras = pd.merge(df_skroutz_cameras,df_skroutz_cameras_2,how="cross")

In [21]:
cross_price_tvs = pd.merge(df_price_tvs,df_price_tvs_2,how="cross")

In [22]:
cross_skroutz_tvs = pd.merge(df_skroutz_tvs,df_skroutz_tvs_2,how="cross")

In [12]:
cross_price_cameras["same_product"] = cross_price_cameras["ClusterID"] == cross_price_cameras["ClusterID2"]

In [13]:
cross_skroutz_cameras["same_product"] = cross_skroutz_cameras["ClusterID"] == cross_skroutz_cameras["ClusterID2"]

In [23]:
cross_price_tvs["same_product"] = cross_price_tvs["ClusterID"] == cross_price_tvs["ClusterID2"]
cross_skroutz_tvs["same_product"] = cross_skroutz_tvs["ClusterID"] == cross_skroutz_tvs["ClusterID2"]

In [14]:
cross_skroutz_cameras.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False          16824796
True              75525

In [15]:
cross_price_cameras.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False           7254640
True              19169

In [24]:
cross_price_tvs.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False          12679358
True              22738

In [25]:
cross_skroutz_tvs.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False          48885302
True             142702

In [16]:
cross_price_cameras.to_parquet("../../Datos/products_csv/df_price_cross_cameras.parquet",index=False,engine="pyarrow")

In [17]:
cross_skroutz_cameras.to_parquet("../../Datos/products_csv/df_skroutz_cross_cameras.parquet",index=False,engine="pyarrow")

In [26]:
cross_skroutz_tvs.to_parquet("../../Datos/products_csv/df_skroutz_cross_tvs.parquet",index=False,engine="pyarrow")
cross_price_tvs.to_parquet("../../Datos/products_csv/df_price_cross_tvs.parquet",index=False,engine="pyarrow")

:

PriceRunner Cameras works well

In [21]:
cross_cams = pd.merge(df_price_cameras,df_skroutz_cameras,how="cross")

In [24]:
cross_cams.shape

(11087367, 12)

In [25]:
cross_cams

,ProductID,VendorID,ClusterID,ClusterLabel,CategoryID,CategoryLabel,ProductID2,VendorID2,ClusterID2,ClusterLabel2,CategoryID2,CategoryLabel2
0,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 kit black af p 18 55 vr,4835,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras
1,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black kit af p 18 55mm vr doro thiki,552,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras
2,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black 18 55af pvr me doro thiki me...,1308,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras
3,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black kit 18 55mm af p vr doro thi...,403,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras
4,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black kit 18 55mm vr af p ke thiki...,122,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras
...,...,...,...,...,...,...,...,...,...,...,...,...
11087362,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography diana mini,522,105545,Lomography Diana Mini,2058,Analog Cameras
11087363,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography actionsampler transparent,522,105546,Lomography ActionSampler Clear,2058,Analog Cameras
11087364,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography diana f,522,105547,Lomography Diana F+,2058,Analog Cameras
11087365,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography oktomat,522,105548,Lomography Oktomat,2058,Analog Cameras
11087366,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,agfa le box vista ocean ipovrichia kamera,1445,105549,AgfaPhoto LeBox Vista,2058,Analog Cameras

In [26]:
cross_cams["same_product"] = cross_cams["ClusterID"] == cross_cams["ClusterID2"]

In [27]:
cross_cams

,ProductID,VendorID,ClusterID,ClusterLabel,CategoryID,CategoryLabel,ProductID2,VendorID2,ClusterID2,ClusterLabel2,CategoryID2,CategoryLabel2,same_product
0,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 kit black af p 18 55 vr,4835,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras,False
1,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black kit af p 18 55mm vr doro thiki,552,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras,False
2,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black 18 55af pvr me doro thiki me...,1308,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras,False
3,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black kit 18 55mm af p vr doro thi...,403,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras,False
4,canon ixus 185 schwarz,247,38848,Canon IXUS 185,2617,Digital Cameras,nikon d3400 black kit 18 55mm vr af p ke thiki...,122,105085,Nikon D3400 Kit (AF-P DX 18-55mm f/3.5-5.6G VR),2055,DSLR Cameras,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11087362,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography diana mini,522,105545,Lomography Diana Mini,2058,Analog Cameras,False
11087363,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography actionsampler transparent,522,105546,Lomography ActionSampler Clear,2058,Analog Cameras,False
11087364,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography diana f,522,105547,Lomography Diana F+,2058,Analog Cameras,False
11087365,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,lomography oktomat,522,105548,Lomography Oktomat,2058,Analog Cameras,False
11087366,fuji s5100,288,39644,Fujifilm FinePix S5100,2617,Digital Cameras,agfa le box vista ocean ipovrichia kamera,1445,105549,AgfaPhoto LeBox Vista,2058,Analog Cameras,False

In [29]:
cross_cams.to_csv("../../Datos/products_csv/cross_cameras.csv",index=False,header=True)

In [30]:
del cross_cams

In [31]:
import gc

In [32]:
gc.collect()

985

In [3]:
df_cameras = pd.read_csv("../../Datos/products_csv/cross_cameras.csv")

In [5]:
df_cameras.shape

(11087367, 13)

In [6]:
df_cameras.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False          11087367

In [8]:
del df_cameras

In [15]:
price_tv = pd.read_csv("../../Datos/products_csv/pricerunner_tvs.csv",names=column_names)
skr_tv = pd.read_csv("../../Datos/products_csv/skroutz_tvs.csv",names=column_names).rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"})

In [16]:
skr_tv

,ProductID2,VendorID2,ClusterID2,ClusterLabel2,CategoryID2,CategoryLabel2
20455,tv lg 43 43uk6470 led ultrahd smart tv wifi hd...,2870,2330,LG 43UK6470PLC,810,Televisions
20456,lg 43uk6470 tv 43 led 4k ultra hd 1600pmi,4744,2330,LG 43UK6470PLC,810,Televisions
20457,lg 43uk6470 tv 43 led 4k ultra hd 1600pmi,4599,2330,LG 43UK6470PLC,810,Televisions
20458,tv lg 43 43uk6470 led ultrahd smart tv wifi hd...,2986,2330,LG 43UK6470PLC,810,Televisions
20459,lg tileorasi 43uk6470plc smart uhd 4k,3252,2330,LG 43UK6470PLC,810,Televisions
...,...,...,...,...,...,...
27452,samsung ue55ju6400 led smart tv 55 39 39 ultra...,3405,3015,Samsung UE55JU6400,810,Televisions
27453,tv samsung ue55ju6400 uhd smart,655,3015,Samsung UE55JU6400,810,Televisions
27454,samsung ue55ju6400,1306,3015,Samsung UE55JU6400,810,Televisions
27455,tileorasi samsung ue55ju6400 samsung led 4k ul...,3673,3015,Samsung UE55JU6400,810,Televisions
27456,samsung ue55ju6400,2461,3015,Samsung UE55JU6400,810,Televisions

In [21]:
appended_cameras  = pd.concat([skr_tv,price_tv],ignore_index=True).reset_index(drop=True)

In [17]:
cross_tvs = pd.merge(price_tv,skr_tv,how="cross")

In [18]:
cross_tvs.shape

(24955128, 12)

In [19]:
cross_tvs["same_product"] = cross_tvs["ClusterID"] == cross_tvs["ClusterID2"]

In [20]:
cross_tvs.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False          24955128

In [4]:
df_price_cpus = pd.read_csv("../../Datos/products_csv/pricerunner_cpus.csv",names=column_names)

In [5]:
df_price_cpus.shape

(3862, 6)

In [6]:
df_price_cpus_2 = df_price_cpus.copy()
df_price_cpus_2.rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"},inplace=True)
df_price_cross_cpus = pd.merge(df_price_cpus,df_price_cpus_2,how="cross")
df_price_cross_cpus["same_product"] = df_price_cross_cpus["ClusterID"] == df_price_cross_cpus["ClusterID2"]

In [7]:
df_price_cross_cpus

,ProductID,VendorID,ClusterID,ClusterLabel,CategoryID,CategoryLabel,ProductID2,VendorID2,ClusterID2,ClusterLabel2,CategoryID2,CategoryLabel2,same_product
0,amd ryzen 7 eight core 1700x 3.80ghz socket am...,5,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,amd ryzen 7 eight core 1700x 3.80ghz socket am...,5,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,True
1,amd ryzen 7 eight core 1700x 3.80ghz socket am...,5,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,amd ryzen 7 1700x 8 core am4 cpu/processor,4,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,True
2,amd ryzen 7 eight core 1700x 3.80ghz socket am...,5,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,amd ryzen 7 1700x 3.4ghz 16mb l3 processor,14,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,True
3,amd ryzen 7 eight core 1700x 3.80ghz socket am...,5,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,amd ryzen 7 1700x 95 w 8 core/16 threads 3.8gh...,3,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,True
4,amd ryzen 7 eight core 1700x 3.80ghz socket am...,5,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,open box amd ryzen 7 1700x 3.8 ghz 8 core 95w ...,30,5851,AMD Ryzen 7 1700X 3.4GHz Box,2615,CPUs,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14915039,intel bx80532ke3066e processor 3.06 ghz 1 mb l2,14,7915,Intel Xeon 3.06GHz/Socket 604/533MHz Box,2615,CPUs,intel bx80532ke3200e processor 3.2 ghz 1 mb l2,14,7911,Intel Xeon 3.2GHz Socket 604 533MHz Box,2615,CPUs,False
14915040,intel bx80532ke3066e processor 3.06 ghz 1 mb l2,14,7915,Intel Xeon 3.06GHz/Socket 604/533MHz Box,2615,CPUs,intel bx80532kc2500e processor 2.5 ghz 1 mb l2,14,7912,Intel Pentium Xeon MP 2.5GHz Socket 603 400MHz...,2615,CPUs,False
14915041,intel bx80532ke3066e processor 3.06 ghz 1 mb l2,14,7915,Intel Xeon 3.06GHz/Socket 604/533MHz Box,2615,CPUs,intel bx80532ke3066e processor 3.06 ghz 1 mb l2,64,7913,Intel Xeon 3.0GHz Socket 604 533MHz Box,2615,CPUs,False
14915042,intel bx80532ke3066e processor 3.06 ghz 1 mb l2,14,7915,Intel Xeon 3.06GHz/Socket 604/533MHz Box,2615,CPUs,intel bx80532ke2400d processor 2.4 ghz 0.512 m...,14,7914,Intel Xeon 2.4GHz/Socket 604/533MHz Box,2615,CPUs,False
14915043,intel bx80532ke3066e processor 3.06 ghz 1 mb l2,14,7915,Intel Xeon 3.06GHz/Socket 604/533MHz Box,2615,CPUs,intel bx80532ke3066e processor 3.06 ghz 1 mb l2,14,7915,Intel Xeon 3.06GHz/Socket 604/533MHz Box,2615,CPUs,True

In [10]:
df_price_cross_cpus.to_parquet("../../Datos/products_csv/df_price_cross_cpus.parquet",engine="pyarrow")

In [11]:
df_price_cross_cpus.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False          14903204
True              11840

CPUs now from skroutz

In [8]:
df_skroutz_cpus = pd.read_csv("../../Datos/products_csv/skroutz_cpus.csv", names=column_names)

In [9]:
display(df_skroutz_cpus)

,ProductID,VendorID,ClusterID,ClusterLabel,CategoryID,CategoryLabel
1,amd ryzen 5 1600 box epexergastis me wraith sp...,1030,1,AMD Ryzen 5 1600 Box,696,CPUs
2,amd ryzen 5 1600,3964,1,AMD Ryzen 5 1600 Box,696,CPUs
3,amd ryzen 5 1600 box pliromi ke se eos 36 dosis,4814,1,AMD Ryzen 5 1600 Box,696,CPUs
4,amd ryzen 5 1600 yd1600bbaebox,4835,1,AMD Ryzen 5 1600 Box,696,CPUs
5,amd ryzen 5 1600 box yd1600bbaebox,2976,1,AMD Ryzen 5 1600 Box,696,CPUs
...,...,...,...,...,...,...
1902,intel xeon e3 1240v3 3.4 ghz quad core socket ...,54,310,Intel Xeon E3-1240 V3 Box,696,CPUs
1903,amd a series a6 7400k 3.5 ghz 2 cores 1 mb cache,101,311,AMD A6-7400K Box,696,CPUs
1904,amd a6 7400k 3.5 ghz dual core socket fm2 65w ...,54,311,AMD A6-7400K Box,696,CPUs
1905,amd kaveri a6 7400k 2c box 3 5ghz 1mb,3352,311,AMD A6-7400K Box,696,CPUs
1906,amd a6 7400k kaveri dual core 3.5ghz socket fm...,2786,311,AMD A6-7400K Box,696,CPUs

In [10]:
df_skroutz_cpus_copy = df_skroutz_cpus.copy().rename(columns={"ProductID":"ProductID2","VendorID":"VendorID2","ClusterID":"ClusterID2","ClusterLabel":"ClusterLabel2","CategoryID":"CategoryID2","CategoryLabel":"CategoryLabel2"})

In [11]:
df_skroutz_cpus_cross = df_skroutz_cpus.merge(df_skroutz_cpus_copy,how="cross")

In [12]:
df_skroutz_cpus_cross

,ProductID,VendorID,ClusterID,ClusterLabel,CategoryID,CategoryLabel,ProductID2,VendorID2,ClusterID2,ClusterLabel2,CategoryID2,CategoryLabel2
0,amd ryzen 5 1600 box epexergastis me wraith sp...,1030,1,AMD Ryzen 5 1600 Box,696,CPUs,amd ryzen 5 1600 box epexergastis me wraith sp...,1030,1,AMD Ryzen 5 1600 Box,696,CPUs
1,amd ryzen 5 1600 box epexergastis me wraith sp...,1030,1,AMD Ryzen 5 1600 Box,696,CPUs,amd ryzen 5 1600,3964,1,AMD Ryzen 5 1600 Box,696,CPUs
2,amd ryzen 5 1600 box epexergastis me wraith sp...,1030,1,AMD Ryzen 5 1600 Box,696,CPUs,amd ryzen 5 1600 box pliromi ke se eos 36 dosis,4814,1,AMD Ryzen 5 1600 Box,696,CPUs
3,amd ryzen 5 1600 box epexergastis me wraith sp...,1030,1,AMD Ryzen 5 1600 Box,696,CPUs,amd ryzen 5 1600 yd1600bbaebox,4835,1,AMD Ryzen 5 1600 Box,696,CPUs
4,amd ryzen 5 1600 box epexergastis me wraith sp...,1030,1,AMD Ryzen 5 1600 Box,696,CPUs,amd ryzen 5 1600 box yd1600bbaebox,2976,1,AMD Ryzen 5 1600 Box,696,CPUs
...,...,...,...,...,...,...,...,...,...,...,...,...
3632831,amd a6 7400k kaveri dual core 3.5ghz socket fm...,2786,311,AMD A6-7400K Box,696,CPUs,intel xeon e3 1240v3 3.4 ghz quad core socket ...,54,310,Intel Xeon E3-1240 V3 Box,696,CPUs
3632832,amd a6 7400k kaveri dual core 3.5ghz socket fm...,2786,311,AMD A6-7400K Box,696,CPUs,amd a series a6 7400k 3.5 ghz 2 cores 1 mb cache,101,311,AMD A6-7400K Box,696,CPUs
3632833,amd a6 7400k kaveri dual core 3.5ghz socket fm...,2786,311,AMD A6-7400K Box,696,CPUs,amd a6 7400k 3.5 ghz dual core socket fm2 65w ...,54,311,AMD A6-7400K Box,696,CPUs
3632834,amd a6 7400k kaveri dual core 3.5ghz socket fm...,2786,311,AMD A6-7400K Box,696,CPUs,amd kaveri a6 7400k 2c box 3 5ghz 1mb,3352,311,AMD A6-7400K Box,696,CPUs
3632835,amd a6 7400k kaveri dual core 3.5ghz socket fm...,2786,311,AMD A6-7400K Box,696,CPUs,amd a6 7400k kaveri dual core 3.5ghz socket fm...,2786,311,AMD A6-7400K Box,696,CPUs

In [13]:
df_skroutz_cpus_cross["same_product"] = df_skroutz_cpus_cross["ClusterID"] == df_skroutz_cpus_cross["ClusterID2"]

In [14]:
df_skroutz_cpus_cross.groupby("same_product").agg({"ProductID":"count"}).sort_values(by="ProductID",ascending=False)

              ProductID
same_product
False           3601074
True              31762

In [15]:
df_skroutz_cpus_cross.to_parquet("../../Datos/products_csv/df_skroutz_cpus_cross.parquet",engine="pyarrow")

In [ ]:
df_price